In [3]:
# importing requisite libraries
from stockstats import StockDataFrame as sdf
import requests
from dotenv import load_dotenv
import os
import pandas as pd
import numpy as np
import alpaca_trade_api as tradeapi
from pathlib import Path
import lib_copy

In [7]:
load_dotenv()

Python-dotenv could not parse statement starting at line 7
Python-dotenv could not parse statement starting at line 8

True

In [10]:
dataframe = lib_copy.fetch_ohlcv("TSLA")

In [14]:
lib_copy.bollinger_band_generator(dataframe).head()

,open,high,low,close,volume,bollinger_band_middle,bollinger_band_std,bollinger_band_upper,bollinger_band_lower,close_-1_s,tr,tr_14_smma,atr,kcmid,kcup,kclo,EMA9,EMA21
2020-01-03 08:30:00-05:00,439.630,439.89,436.120,436.120,3571,429.21550,3.329131,435.873761,422.557239,438.010,3.770,2.828504,2.828504,429.21550,432.044004,426.386996,430.818076,429.352575
2020-01-03 08:45:00-05:00,435.400,438.60,435.400,436.990,956,429.75000,3.676440,437.102880,422.397120,436.120,3.200,2.862839,2.862839,429.75000,432.612839,426.887161,432.052461,430.046886
2020-01-03 09:00:00-05:00,438.475,441.43,437.510,441.430,2592,430.49850,4.420057,439.338615,421.658385,436.990,4.440,3.005606,3.005606,430.49850,433.504106,427.492894,433.927969,431.081715
2020-01-03 09:15:00-05:00,440.450,440.45,440.241,440.241,369,431.10405,4.883775,440.871600,421.336500,441.430,1.189,2.844245,2.844245,431.10405,433.948295,428.259805,435.190575,431.914377
2020-01-03 09:30:00-05:00,440.240,454.00,437.050,450.300,107506,432.20405,6.446524,445.097098,419.311002,440.241,16.950,4.075772,4.075772,432.20405,436.279822,428.128278,438.212460,433.585797

In [15]:
lib_copy.keltner_channel(dataframe).tail()

,open,high,low,close,volume,bollinger_band_middle,bollinger_band_std,bollinger_band_upper,bollinger_band_lower,close_-1_s,tr,tr_14_smma,atr,kcmid,kcup,kclo,ema9,ema21
2020-12-31 15:00:00-05:00,702.240,705.22,701.13,703.68,47000,711.72925,5.349815,722.428880,701.029620,702.30,4.09,4.118721,4.118721,711.72925,715.847971,707.610529,708.858680,708.650536
2020-12-31 15:15:00-05:00,703.676,703.86,698.00,698.00,56779,711.56625,5.722281,723.010813,700.121687,703.68,5.86,4.243098,4.243098,711.56625,715.809348,707.323152,706.686944,707.682305
2020-12-31 15:30:00-05:00,698.050,704.94,697.78,704.13,45436,711.53700,5.760513,723.058026,700.015974,698.00,7.16,4.451448,4.451448,711.53700,715.988448,707.085552,706.175555,707.359368
2020-12-31 15:45:00-05:00,704.395,706.79,703.02,705.44,88359,711.41450,5.867212,723.148924,699.680076,704.13,3.77,4.402773,4.402773,711.41450,715.817273,707.011727,706.028444,707.184880
2020-12-31 16:00:00-05:00,704.830,704.94,704.83,704.94,220,711.01700,6.029058,723.075116,698.958884,705.44,0.61,4.131861,4.131861,711.01700,715.148861,706.885139,705.810755,706.980800

In [16]:
lib_copy.ewma(dataframe).tail()

,open,high,low,close,volume,bollinger_band_middle,bollinger_band_std,bollinger_band_upper,bollinger_band_lower,close_-1_s,tr,tr_14_smma,atr,kcmid,kcup,kclo,ema9,ema21,EMA9,EMA21
2020-12-31 15:00:00-05:00,702.240,705.22,701.13,703.68,47000,711.72925,5.349815,722.428880,701.029620,702.30,4.09,4.118721,4.118721,711.72925,715.847971,707.610529,708.858680,708.650536,708.858680,708.650536
2020-12-31 15:15:00-05:00,703.676,703.86,698.00,698.00,56779,711.56625,5.722281,723.010813,700.121687,703.68,5.86,4.243098,4.243098,711.56625,715.809348,707.323152,706.686944,707.682305,706.686944,707.682305
2020-12-31 15:30:00-05:00,698.050,704.94,697.78,704.13,45436,711.53700,5.760513,723.058026,700.015974,698.00,7.16,4.451448,4.451448,711.53700,715.988448,707.085552,706.175555,707.359368,706.175555,707.359368
2020-12-31 15:45:00-05:00,704.395,706.79,703.02,705.44,88359,711.41450,5.867212,723.148924,699.680076,704.13,3.77,4.402773,4.402773,711.41450,715.817273,707.011727,706.028444,707.184880,706.028444,707.184880
2020-12-31 16:00:00-05:00,704.830,704.94,704.83,704.94,220,711.01700,6.029058,723.075116,698.958884,705.44,0.61,4.131861,4.131861,711.01700,715.148861,706.885139,705.810755,706.980800,705.810755,706.980800