In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import numpy as np

In [2]:
#Import libraries and dependencies

import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
# Import extra libraries for ATR calculation and Keltner

from stockstats import StockDataFrame as sdf

Read CSV into pandas dataframe

In [4]:
# Load env data
load_dotenv()

True

In [5]:
# Assign Alpaca keys to variables
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [6]:
# Initialize Alpaca connection
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version='v2'
)

In [7]:
# Set start and end dates for
start_date = pd.Timestamp('2020-01-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-12-31', tz='America/New_York').isoformat()

In [8]:
# Set file path:

#filepath = Path("../Resources/JPM.csv")

In [9]:
# Assign default ticker symbol
ticker_string = 'JPM'
ticker = [ticker_string]

In [10]:
# Assign default time frame
timeframe = '15Min'

In [11]:
# Get ticker historical data
df_ohlc_original = alpaca.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

In [12]:
# Copy of original data
df_ohlc = df_ohlc_original

# Verify data in dataframe
df_ohlc = df_ohlc[ticker_string]
df_ohlc.head()

                              open    high     low    close  volume
time
2020-01-02 09:30:00-05:00  140.070  140.14  139.52  139.670   29953
2020-01-02 09:45:00-05:00  139.675  139.91  139.44  139.670   24343
2020-01-02 10:00:00-05:00  139.635  139.81  139.52  139.640   19021
2020-01-02 10:15:00-05:00  139.600  139.60  139.34  139.400   18856
2020-01-02 10:30:00-05:00  139.460  139.54  139.28  139.535   19695

In [13]:
#jpm_df = pd.read_csv(filepath, parse_dates=True, infer_datetime_format=True)

#jpm_df.head()

In [14]:
#jpm_df.rename(columns={"Unnamed: 0": 'date'}, inplace=True)

In [15]:
#jpm_df.set_index("date",inplace =True)

In [16]:
#jpm_df.head()

In [17]:
"""
p_length = 20

def truehigh(h,yh):
    if yh >= h :
        truehigh_val= yh
    else:
        truehigh_val = h
    
    return truehigh_val



#df_ohlc['trueHigh'] = np.where(((df_ohlc['high'] > df_ohlc['truehigh'].shift(1))),df_ohlc['high'],df_ohlc['truehigh'])
"""

"\np_length = 20\n\ndef truehigh(h,yh):\n    if yh >= h :\n        truehigh_val= yh\n    else:\n        truehigh_val = h\n    \n    return truehigh_val\n\n\n\n#df_ohlc['trueHigh'] = np.where(((df_ohlc['high'] > df_ohlc['truehigh'].shift(1))),df_ohlc['high'],df_ohlc['truehigh'])\n"

In [18]:
df_ohlc.head()

                              open    high     low    close  volume
time
2020-01-02 09:30:00-05:00  140.070  140.14  139.52  139.670   29953
2020-01-02 09:45:00-05:00  139.675  139.91  139.44  139.670   24343
2020-01-02 10:00:00-05:00  139.635  139.81  139.52  139.640   19021
2020-01-02 10:15:00-05:00  139.600  139.60  139.34  139.400   18856
2020-01-02 10:30:00-05:00  139.460  139.54  139.28  139.535   19695

In [19]:
#from stockstats import StockDataFrame as sdf

stockstats_df = sdf.retype(df_ohlc)

In [20]:

class StockDataFrame(pd.DataFrame):
    OPERATORS = ['le', 'ge', 'lt', 'gt', 'eq', 'ne']

    # Start of options.
    KDJ_PARAM = (2.0 / 3.0, 1.0 / 3.0)
    KDJ_WINDOW = 9

    BOLL_PERIOD = 20
    BOLL_STD_TIMES = 2

    MACD_EMA_SHORT = 12
    MACD_EMA_LONG = 26
    MACD_EMA_SIGNAL = 9

In [21]:

@classmethod
def _get_macd(cls, df):
    
    """ 
    Moving Average Convergence Divergence
    This function will initialize all following columns.
    MACD Line (macd): (12-day EMA - 26-day EMA)
    Signal Line (macds): 9-day EMA of MACD Line
    MACD Histogram (macdh): MACD Line - Signal Line
    :param df: data
    :return: None
    """
    
    ema_short = 'close_{}_ema'.format(cls.MACD_EMA_SHORT)
    ema_long = 'close_{}_ema'.format(cls.MACD_EMA_LONG)
    ema_signal = 'macd_{}_ema'.format(cls.MACD_EMA_SIGNAL)
    fast = df[ema_short]
    slow = df[ema_long]
    df['macd'] = fast - slow
    df['macds'] = df[ema_signal]
    df['macdh'] = (df['macd'] - df['macds'])
    log.critical("NOTE: Behavior of MACDH calculation has changed as of "
                     "July 2017 - it is now 1/2 of previous calculated values")
    cls._drop_columns(df, [ema_short, ema_long, ema_signal])

In [22]:
#_get_macd(df_ohlc)

In [23]:


stock = sdf.retype(df_ohlc)
#print(stock['macds'])

#print(stock)

In [24]:
#print(stock['atr'])
#print(stock)

In [25]:
#print(stock['atr'])

In [26]:
stock['atr']

time
2020-01-02 09:30:00-05:00         NaN
2020-01-02 09:45:00-05:00    0.470000
2020-01-02 10:00:00-05:00    0.376667
2020-01-02 10:15:00-05:00    0.349196
2020-01-02 10:30:00-05:00    0.324360
                               ...
2020-12-30 14:45:00-05:00    0.219264
2020-12-30 15:00:00-05:00    0.211460
2020-12-30 15:15:00-05:00    0.203498
2020-12-30 15:30:00-05:00    0.211106
2020-12-30 15:45:00-05:00    0.228884
Name: atr, Length: 6757, dtype: float64

In [27]:
atr_column = pd.DataFrame(stock['atr'])

In [28]:
atr_column

                                atr
time
2020-01-02 09:30:00-05:00       NaN
2020-01-02 09:45:00-05:00  0.470000
2020-01-02 10:00:00-05:00  0.376667
2020-01-02 10:15:00-05:00  0.349196
2020-01-02 10:30:00-05:00  0.324360
...                             ...
2020-12-30 14:45:00-05:00  0.219264
2020-12-30 15:00:00-05:00  0.211460
2020-12-30 15:15:00-05:00  0.203498
2020-12-30 15:30:00-05:00  0.211106
2020-12-30 15:45:00-05:00  0.228884

[6757 rows x 1 columns]

In [29]:
df_ohlc['atr'] = atr_column

In [30]:
df_ohlc.head()

,open,high,low,close,volume,close_-1_s,tr,tr_14_smma,atr
time,,,,,,,,,
2020-01-02 09:30:00-05:00,140.070,140.14,139.52,139.670,29953,NaN,NaN,NaN,NaN
2020-01-02 09:45:00-05:00,139.675,139.91,139.44,139.670,24343,139.67,0.47,0.470000,0.470000
2020-01-02 10:00:00-05:00,139.635,139.81,139.52,139.640,19021,139.67,0.29,0.376667,0.376667
2020-01-02 10:15:00-05:00,139.600,139.60,139.34,139.400,18856,139.64,0.30,0.349196,0.349196
2020-01-02 10:30:00-05:00,139.460,139.54,139.28,139.535,19695,139.40,0.26,0.324360,0.324360

In [31]:
#atr_column.head()

In [32]:
#df_final = df_ohlc.join(atr_column)

In [33]:
df_final = df_ohlc

In [34]:
#df_final.head()

In [35]:
p_length = 20
df_final['kcmid'] = df_final['close'].rolling(window=p_length).mean()
df_final['kcup'] = df_final['kcmid']+df_final['atr']
df_final['kclo'] = df_final['kcmid']-df_final['atr']
df_final.tail()

,open,high,low,close,volume,close_-1_s,tr,tr_14_smma,atr,kcmid,kcup,kclo
time,,,,,,,,,,,,
2020-12-30 14:45:00-05:00,125.285,125.46,125.26,125.29,7778,125.26,0.20,0.219264,0.219264,125.4420,125.661264,125.222736
2020-12-30 15:00:00-05:00,125.325,125.36,125.25,125.31,5098,125.29,0.11,0.211460,0.211460,125.4565,125.667960,125.245040
2020-12-30 15:15:00-05:00,125.350,125.41,125.32,125.36,3735,125.31,0.10,0.203498,0.203498,125.4590,125.662498,125.255502
2020-12-30 15:30:00-05:00,125.410,125.67,125.37,125.55,7877,125.36,0.31,0.211106,0.211106,125.4520,125.663106,125.240894
2020-12-30 15:45:00-05:00,125.520,125.71,125.25,125.33,34033,125.55,0.46,0.228884,0.228884,125.4390,125.667884,125.210116

In [36]:
drop_columns = ['close_-1_s','tr','tr_14_smma','kcmid']
df_final.drop(drop_columns, inplace=True, axis=1)
df_final.tail()

,open,high,low,close,volume,atr,kcup,kclo
time,,,,,,,,
2020-12-30 14:45:00-05:00,125.285,125.46,125.26,125.29,7778,0.219264,125.661264,125.222736
2020-12-30 15:00:00-05:00,125.325,125.36,125.25,125.31,5098,0.211460,125.667960,125.245040
2020-12-30 15:15:00-05:00,125.350,125.41,125.32,125.36,3735,0.203498,125.662498,125.255502
2020-12-30 15:30:00-05:00,125.410,125.67,125.37,125.55,7877,0.211106,125.663106,125.240894
2020-12-30 15:45:00-05:00,125.520,125.71,125.25,125.33,34033,0.228884,125.667884,125.210116

In [37]:
""" Keltner indicator function testing and generation
"""
def keltner_channel(df_ohlc, p_length = 20):
    
    stock = sdf.retype(df_ohlc)
    atr_column = pd.DataFrame(stock['atr'])
    df_final['atr'] = atr_column
    df_final['kcmid'] = df_final['close'].rolling(window=p_length).mean()
    df_final['kcup'] = df_final['kcmid']+df_final['atr']
    df_final['kclo'] = df_final['kcmid']-df_final['atr']
    #drop_columns = ['close_-1_s','tr','tr_14_smma','kcmid']
    #df_final.drop(drop_columns, inplace=True, axis=1)
    return df_final

In [39]:
#test function
p_length = 20
new_test_kc_df = keltner_channel(df_ohlc,p_length)
new_test_kc_df.tail()

,open,high,low,close,volume,atr,kcup,kclo,kcmid
time,,,,,,,,,
2020-12-30 14:45:00-05:00,125.285,125.46,125.26,125.29,7778,0.219264,125.661264,125.222736,125.4420
2020-12-30 15:00:00-05:00,125.325,125.36,125.25,125.31,5098,0.211460,125.667960,125.245040,125.4565
2020-12-30 15:15:00-05:00,125.350,125.41,125.32,125.36,3735,0.203498,125.662498,125.255502,125.4590
2020-12-30 15:30:00-05:00,125.410,125.67,125.37,125.55,7877,0.211106,125.663106,125.240894,125.4520
2020-12-30 15:45:00-05:00,125.520,125.71,125.25,125.33,34033,0.228884,125.667884,125.210116,125.4390