In [26]:
import pandas as pd
import numpy as np
from pathlib import Path

In [84]:
metrics_path = Path("../Resources/clean_indicators.csv")

metrics = pd.read_csv(metrics_path)
metrics.head()

,time,close,kcup,kclo,bollinger_band_upper,bollinger_band_lower,EMA9,EMA21
0,2020-01-02 14:15:00-05:00,140.73,140.427356,139.969144,141.039285,139.357215,140.730000,140.730000
1,2020-01-02 14:30:00-05:00,140.87,140.482818,140.033682,141.111734,139.404766,140.758000,140.742727
2,2020-01-02 14:45:00-05:00,140.98,140.544283,140.103217,141.188150,139.459350,140.802400,140.764298
3,2020-01-02 15:00:00-05:00,140.87,140.596854,140.173646,141.219311,139.551189,140.815920,140.773907
4,2020-01-02 15:15:00-05:00,140.82,140.658983,140.253517,141.170296,139.742204,140.816736,140.778097

In [118]:
# Calculate std dev
metrics['returns'] = metrics['close'].pct_change()

metrics['std']= metrics['returns'].std()
metrics

,time,close,kcup,kclo,bollinger_band_upper,bollinger_band_lower,EMA9,EMA21,returns,std
0,2020-01-02 14:15:00-05:00,140.73,140.427356,139.969144,141.039285,139.357215,140.730000,140.730000,NaN,0.00632
1,2020-01-02 14:30:00-05:00,140.87,140.482818,140.033682,141.111734,139.404766,140.758000,140.742727,0.000995,0.00632
2,2020-01-02 14:45:00-05:00,140.98,140.544283,140.103217,141.188150,139.459350,140.802400,140.764298,0.000781,0.00632
3,2020-01-02 15:00:00-05:00,140.87,140.596854,140.173646,141.219311,139.551189,140.815920,140.773907,-0.000780,0.00632
4,2020-01-02 15:15:00-05:00,140.82,140.658983,140.253517,141.170296,139.742204,140.816736,140.778097,-0.000355,0.00632
...,...,...,...,...,...,...,...,...,...,...
6749,2020-12-30 14:45:00-05:00,125.29,125.661264,125.222736,125.831904,125.052096,125.340260,125.388259,0.000240,0.00632
6750,2020-12-30 15:00:00-05:00,125.31,125.667960,125.245040,125.799015,125.113985,125.334208,125.381144,0.000160,0.00632
6751,2020-12-30 15:15:00-05:00,125.36,125.662498,125.255502,125.797722,125.120278,125.339366,125.379222,0.000399,0.00632
6752,2020-12-30 15:30:00-05:00,125.55,125.663106,125.240894,125.776092,125.127908,125.381493,125.394747,0.001516,0.00632
6753,2020-12-30 15:45:00-05:00,125.33,125.667884,125.210116,125.760634,125.117366,125.371195,125.388861,-0.001752,0.00632

In [125]:
# Sharpe Ratio
returns_avg = metrics['returns'].mean()

sharpe_ratio = (np.sqrt(252) * (returns_avg * 252)) / metrics['std']
sharpe_ratio

0       1.871645
1       1.871645
2       1.871645
3       1.871645
4       1.871645
          ...
6749    1.871645
6750    1.871645
6751    1.871645
6752    1.871645
6753    1.871645
Name: std, Length: 6754, dtype: float64

In [126]:
# Vol of 30/90/180 days