In [1]:
#Import libraries and dependencies

import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
# Set file path:

filepath = Path("../Resources/JPM.csv")

In [8]:
jpm_df = pd.read_csv(filepath, parse_dates=True, infer_datetime_format=True)

jpm_df.head()

                  Unnamed: 0    close
0  2020-01-02 09:30:00-05:00  139.670
1  2020-01-02 09:45:00-05:00  139.670
2  2020-01-02 10:00:00-05:00  139.640
3  2020-01-02 10:15:00-05:00  139.400
4  2020-01-02 10:30:00-05:00  139.535

In [9]:
jpm_df.rename(columns={"Unnamed: 0": 'date'}, inplace=True)
jpm_df.head()

                        date    close
0  2020-01-02 09:30:00-05:00  139.670
1  2020-01-02 09:45:00-05:00  139.670
2  2020-01-02 10:00:00-05:00  139.640
3  2020-01-02 10:15:00-05:00  139.400
4  2020-01-02 10:30:00-05:00  139.535

In [10]:
jpm_df.set_index("date",inplace =True)
jpm_df.head()

                             close
date
2020-01-02 09:30:00-05:00  139.670
2020-01-02 09:45:00-05:00  139.670
2020-01-02 10:00:00-05:00  139.640
2020-01-02 10:15:00-05:00  139.400
2020-01-02 10:30:00-05:00  139.535

In [19]:
# create EMAs columns
jpm_df['EMA9'] = jpm_df['close'].ewm(span=9, adjust=False).mean()
jpm_df['EMA21'] = jpm_df['close'].ewm(span=21, adjust=False).mean()

In [20]:
jpm_df.head(10)

                             close        EMA9       EMA21
date
2020-01-02 09:30:00-05:00  139.670  139.670000  139.670000
2020-01-02 09:45:00-05:00  139.670  139.670000  139.670000
2020-01-02 10:00:00-05:00  139.640  139.664000  139.667273
2020-01-02 10:15:00-05:00  139.400  139.611200  139.642975
2020-01-02 10:30:00-05:00  139.535  139.595960  139.633159
2020-01-02 10:45:00-05:00  139.920  139.660768  139.659236
2020-01-02 11:00:00-05:00  140.060  139.740614  139.695669
2020-01-02 11:15:00-05:00  140.135  139.819492  139.735608
2020-01-02 11:30:00-05:00  140.270  139.909593  139.784189
2020-01-02 11:45:00-05:00  140.490  140.025675  139.848354

In [21]:
jpm_df['compEMAS'] = np.where(jpm_df['EMA9']>jpm_df['EMA21'],1,0)

In [23]:
jpm_df.tail()

                             close        EMA9       EMA21  compEMAS
date
2021-01-07 14:45:00-05:00  135.870  135.837291  135.643550         1
2021-01-07 15:00:00-05:00  135.775  135.824833  135.655500         1
2021-01-07 15:15:00-05:00  135.655  135.790866  135.655454         1
2021-01-07 15:30:00-05:00  135.730  135.778693  135.662231         1
2021-01-07 15:45:00-05:00  135.870  135.796954  135.681119         1